# --- Data and Large Files ---
data/
models/*.h5
models/*.pth
models/*.keras
models/*.pb
datasets/
*.zip
*.tar.gz
*.gz
*.bz2

# ---Model Weights / Checkpoints ---
models/
checkpoints/
*.h5
*.pth
*.pt
*.ckpt
*.keras
*.pb


# --- Logs and Experiment Outputs ---
logs/
runs/
*.log
*.csv

# TensorBoard
events.out.tfevents*

# Optuna
*.db

# --- Python and Environments ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
.env
*.pyc

# --- OS and IDE specific ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Notebooks ---
.ipynb_checkpoints/
notebooks/iframe_figures/

# --- Misc ---
*.swp
*.tmp
*.bak
